[2016-01-18 09:21] simnalamburt opened #1 "Enable HTTPS"
Let's encrypt 쓰면 돈 한푼 안쓰고 할수있고, 더이상 중전의 공격을 받지 않을 수 있음!

#### TODOs
- [x] uriel.upnl.org TLS 인증서 업데이트
- [x] upnl.org 에 HTTPS 적용
- [x] git.upnl.org 에 HTTPS 적용
- [x] pokemon.upnl.org 에 HTTPS 적용
- [x] 그 외 필요한 도메인들 더 찾아서 적용
- [x] 자동업데이트 넣기

#### 자동업데이트 넣는법

[code]
[code]

~웹루트 인증을 쓸 수 있을경우 nginx 종료 없이 갱신이 가능하지만, 그렇지 못할경우 인증 전후에 nginx을 끄고 켜야한다.~ 이제 그냥 certbot nginx 플러그인을 쓰면 된다.

###### References
- htt

[2016-01-18 09:22] simnalamburt opened #2 "소드락 이전"
소드락을 IDC에서 내 집으로 옮기자

#### 사전작업
- [x] OB들이 돌리던 서비스 이전
- [x] book.upnl.org, zal.upnl.org, wiki.upnl.org 등 서비스 목록 파악
- [x] 유피넬 홈페이지 이전
- [x] 그 외에 돌아가는 서비스 없는지 검사
#### 옮기기
- [x] 도메인 바꾸기

[2016-01-18 09:22] simnalamburt opened #3 "서버관리자에게 전기세 주기"
반년동안 시험해본 결과, 여름엔 월 6만원, 겨울엔 월 3만원 나오고있음

[2016-01-18 09:23] simnalamburt opened #4 "NixOS 서버 새로 만들기"
회원들이 루트 없이 깔고싶은 프로그램을 자유롭게 깔 수 있는 리눅스 서버가 필요함

[2016-01-18 09:24] simnalamburt opened #5 "유피넬 공식 트위터 계정 탈취하기"
<https://twitter.com/__UPnL__>

잘 쓰던 트위터인데, 저거 트위터 계정 이메일 (아마도 <upnl@upnl.org>였음) 이 못쓰게되어서 지금 저 계정을 만질수가 없음.

### TODO
- [x] [@\_\_UPnL__](https://twitter.com/__UPnL__/status/1018891915222118400?s=19) 복구함
- [x] [@TeamBerryz](https://twitter.com/TeamBerryz) 복구함
- [x] 넬장인 @pbzweihander, 부넬장인 @MKRoughDiamond, 서버관리자인 @tirr-c 에게 PGP로 비밀버호 전달함 https://pastebin.com/raw/1TjG1rEk

[2016-01-18 09:24] simnalamburt opened #6 "서버들 포트 학외개방 하기"
중전과 열심히 연락하면 할 수 있을것같음

[2016-01-18 09:29] simnalamburt opened #7 "zal.upnl.org 정상화"
- [x] git으로 관리
- [ ] 스팸 못달게 막기
- [ ] CSS 입히기
- [ ] zal.upnl.org 라는 서비스가 존재한다는 사실을 문서화

[2016-01-18 09:32] simnalamburt opened #8 "소드락 회계 이전"
- [x] 밀린 이용료 이용자들로부터 모두 받기
- [x] 선배님께 드리지 못한 월7만원 소드락 이용료 모두 드리기
- [x] 유피넬 회계와 합친 후 소드락 계좌 소멸

[2016-01-18 09:32] simnalamburt opened #9 "유피넬 메일 복구하기"
### 무료
- https://www.zoho.com/mail/

### 오픈소스
- https://github.com/mailpile/Mailpile
- https://github.com/mail-in-a-box/mailinabox
- https://github.com/rainloop/rainloop-webmail/
- https://github.com/nylas/sync-engine

이런 좋은것이 있음. 이거 하면 #5, #29, #32 해결가능

[2016-01-18 09:33] simnalamburt opened #10 "유피넬 서비스 안내페이지 만들기"
- 서버가 점점 많아지고있는데 회원들에게 서버가 뭐뭐있고 각각의 용도가 뭔지 알려주는 안내페이지 만들기
  - [x] 서버별 : 소드락, 제미니, 등
  - [ ] 서비스별: sentry, wiki, zal, ..
- [x] 서버별로 웰컴페이지 따로 만들어주기. 지금 그냥 'Welcome to nginx'가 뜨고있음
- [x] ~~남은 서버관련 이슈도 거기에 한눈에 볼 수 있도록 메모하기~~ &rarr; https://github.com/upnl/work/issues 여기가 이슈트래커가 되었음
- [x] ~~서버 사진이랑 스펙도 메모하기~~ &rarr; 서버 관련 상세 스펙은 https://github.com/upnl/work/blob/master/servers.md 에 기록되었음

<br>

#### 들어

[2016-01-18 09:34] simnalamburt opened #11 "차기 서버관리자 뽑기"

[2016-01-18 09:37] simnalamburt opened #12 "에델브로이 활용계획 세우기"
원래 베어메탈 가상머신 호스트 깔고 IP를 왕창 얻어와서 회원들한테 가상머신을 하나씩 주려고했는데, KT IFFT로는 사람 한명이 IP를 최대 10개만 받을 수 있어서 망함

[2016-01-18 09:48] simnalamburt opened #13 "서버들에 RAM 늘리기"
램 그렇게 비싸지도 않은데, 유리엘과 소드락이 만성적인 램부족에 시달리고있습니다. 늘려줍시다 와와

- [x] ~~유리엘 DDR3 2GB × 1~~ &rarr; 폐기됨
- [x] 소드락 ~~DDR2 1GB × 2~~ &rarr; 2GB × 4 (업그레이드 완료)
- [x] 제미니 DDR2 1GB×2 + 2GB×2 (서비스가 많이 빠짐, 충분함)
- [x] 에델브로이 DDR3 4GB * 4 (충분함)

#### TODOs
램을 2GB × 8개 구입함

- [x] 4개 소드락 램 업그레이드하는데에 쓰기
- [x] ~~4개 유리엘 램 업그레이드하는데에 쓰기~~ &rarr; 유리엘 폐기됨

[2016-01-19 06:20] jc-kim commented on #5
저거 마지막으로 관리하던 사람이 나인거 같은데[..] 비번이 기억나지 않습니다 ㅈㅅ...

[2016-01-19 06:25] jc-kim commented on #9
https://github.com/khamidou/kite 이런건 어떤가요?

[2016-01-19 06:36] simnalamburt commented on #9
@jc-kim  저거 Obsolete 되었다그래서 저 링크 타고 들어가서 보이는것들 선택지에 추가했어요

[2016-01-19 08:04] jc-kim commented on #10
1번은 유피넬 홈페이지 어디다가 머싯게[?] 만들면 좋을 거 같음!

[2016-01-19 08:09] simnalamburt opened #14 "Redirect: www.upnl.org -> upnl.org"
구글 검색엔진엔 www.upnl.org 가 먼저 잡힘. 바꾸는중

[2016-01-19 08:12] simnalamburt commented on #14
반영됨

[code]

[2016-01-19 08:12] #14 closed, assigned to nobody

[2016-01-19 08:15] simnalamburt opened #15 "소드락에서 도는 서비스들 *.sodrak.upnl.org 로 접근 가능하게 만들기"

[2016-01-21 06:07] jc-kim commented on #7
https://git.upnl.org/upnl-museum/zal

[2016-01-21 06:13] simnalamburt commented on #7
php가 아니야..?! (충격)

[2016-01-22 06:18] jc-kim commented on #11
이거 종신직 아니었읍니까[?]

[2016-01-22 06:20] simnalamburt commented on #11
않되

[2016-01-26 05:01] jc-kim commented on #15
복구 완료:
http://wiki.sodrak.upnl.org
http://old.wiki.sodrak.upnl.org
http://book.sodrak.upnl.org
http://zal.sodrak.upnl.org
http://trac.sodrak.upnl.org (Internal Server Error)
http://pdns.sodrak.upnl.org (뭐하는 사이트지)
403:
http://menu.sodrak.upnl.org
http://stats.sodrak.upnl.org

이 정도면 대충 접근 가능한 데는 다 고친 듯?

[2016-02-09 12:11] kalaluthien commented on #13
구체적으로 얼마나 늘려야 하나요?

[2016-02-10 10:26] simnalamburt commented on #13
모두 8기가로 바꾸면 될거같아요

[2016-02-14 18:18] simnalamburt opened #16 "소드락 포맷하기"
_(차후에 설명을 쓰겠습니다)_

[2016-02-14 18:20] simnalamburt commented on #13
램을 2GB \* 8개 구입하였습니다. 4개는 소드락에 꽂았으며, 4개는 유리엘에 꽂을 예정입니다.

[2016-03-04 08:33] simnalamburt commented on #3
2014년 7월부터 자취방에 서버를 놓기 시작했다는 사실을 확인함

[2016-03-17 08:37] jc-kim commented on #1
https://uriel.upnl.org/

[2016-03-17 16:03] simnalamburt commented on #1
헐쩐다

https://uriel.upnl.org/<사람이름>/ 도 지원합시다 와와

[2016-03-17 17:20] jc-kim commented on #1
https://uriel.upnl.org/~jc/ 랑 https://uriel.upnl.org 는 같이 되는데
https://uriel.upnl.org/jc/ 이걸 되게 하려고 config를 바꾸면 https://uriel.upnl.org 가 404가 뜨네 끵
귀찮아[?] 여기까지 할래...

[2016-03-18 01:21] jc-kim commented on #1
![image](https://cloud.githubusercontent.com/assets/892477/13865814/ef74adcc-ecf2-11e5-8f26-a64de2373081.png)
하하[?]

[2016-03-18 02:11] jc-kim commented on #9
https://mailinabox.email/ 이런 것도 있는 거 같네요.

[2016-12-30 05:28] simnalamburt opened #17 "서버들 사양 문서화"
할것

- [x] OS 배포판 종류: `lsb_release -a`
- [x] CPU 종류: `cat /proc/cpuinfo | grep 'model name'`
- [x] RAM: `sudo lshw -short -C memory`
- [x] Storage: `lsblk -io KNAME,TYPE,SIZE,MODEL`
- [x] 메인보드: `cat /sys/devices/virtual/dmi/id/board_{vendor,name,version}`
- [x] VGA: `lspci -vnn | grep VGA -A 12`

[2016-12-30 05:31] simnalamburt opened #18 "제미니 케이스 바꾸기"
과열로 제미니가 안들어가지는경우가 2015년 9월 9일에 한번, 2016년 12월 30일에 한번 발생했음.

#### 할것
- [x] 케이스 바꾸기. 내가 집에서 쓰는 케이스 뭔지 알아본다음에, 그 브랜드껄 사면 될거같다.
- [x] 서멀그리스 다시 도포해주기

[2017-01-09 08:22] simnalamburt commented on #6
@vbchunguk 혹시 제가 소드락과 에델브로이 두 서버 80번 포트 학외개방 했을 때처럼, 유리엘도 열어 주실 수 있으신가요? CC되어있었으니  행정실의 ㅈ모 선생님과 그때 했던 논의를 다시한번 하면 될 것같아요.

이 Org에 초대해드렸으니 받아주세용

[2017-01-13 05:11] simnalamburt commented on #4
NixOS 를 시험해보니 너무 구려서 안하기로함.

[2017-01-13 05:11] #4 closed, assigned to nobody

[2017-01-13 05:12] simnalamburt commented on #3
시즌당 10만원씩 잘 받고있음

### 이체 내역
시즌별로 10만원씩 받고있음.

<img width=300 alt="2016년 10월 19일 이체기록" src="https://cloud.githubusercontent.com/assets/4435445/22152267/57988cec-df65-11e6-97cc-65d1127f421f.PNG"><img width=300 alt="2016년 12월 27일 이체기록" src="https://cloud.githubusercontent.com/assets/4435445/22152266/57900702-df65-11e6-922f-685aa3480b21.PNG">

- [x] 2015년 시즌1 (2016-10-19에 받음)
- [x] 2015년 시즌2 (2016-10-

[2017-01-13 05:12] #3 closed, assigned to nobody

[2017-01-13 05:12] simnalamburt commented on #8
완료.

[2017-01-13 05:12] #8 closed, assigned to nobody

[2017-01-13 05:13] simnalamburt commented on #11
@VBChunguk 이 되었음. 그 이후 서버관리자는 더 많으면 좋지만, 급하게 필요하진 않을듯. 19학번쯤에 한명 뽑으면 충분하지 않을까 싶다.

[2017-01-13 05:13] #11 closed, assigned to nobody

[2017-01-13 05:14] jc-kim commented on #11
쳇[?]

[2017-01-13 05:19] simnalamburt opened #19 "irssi 보안업데이트 (CVE-2017-5194)"
[CVE-2017-5194](https://security.archlinux.org/CVE-2017-5194) 대응이 필요함.

- OpenSUSE에서 제공하는 irssi 공식 PPA가 있음. 이걸로 irssi 1.0.0 을 깔자. [설치 링크](https://software.opensuse.org/download.html?project=home:ailin_nemui:irssi-test;package=irssi)
  - [x] uriel.upnl.org 업데이트
  - [x] sodrak.upnl.org 업데이트
- 하는김에 내가 좋아하는 weechat도 최신버전으로 올리자. [설치 링크](https://weechat.org/download/debian/#instructions)
  - [x] uriel.u

[2017-01-13 05:50] simnalamburt opened #20 "서버들 배포판 업그레이드 (Cross-LTS)"
### ✅ 제미니 업그레이드 계획 (14.04 → 18.04)
제미니는 유피넬의 프로덕션 서버다.

- [x] nginx를 Caddy로 교체
- 주요 서비스들 모두 도커화하기
  - [x] 깃랩: 도커화 완료
  - [x] 포디비: 도커화 완료, AWS 서버로 옮김
  - [x] Helix: 도커화 완료, AWS 서버로 옮김
  - [x] 홈페이지: 도커화 완료, AWS 서버로 옮김
- 도커 볼륨만 남겨둔 채 모든 패키지를 삭제한 다음, 배포판을 업그레이드한 뒤 도커를 재설치하여 업그레이드 완료함

### ✅ 에델브로이 업그레이드 계획 (16.04 → 20.04)
그냥 재설치하기로했음 #63 참고

### ⌛ 소드락 업그레이드 계획 (14.04 → 20.04)
막막하다... 점점 레거시 서버가 되어가고있다.

[2017-01-13 05:54] tirr-c commented on #6
포트 개방 요청 메일을 보냈습니다.

[2017-01-13 05:56] simnalamburt commented on #6
@VBChunguk 저와 넬장 부넬장에게 CC를 걸어주세요.

[2017-01-13 05:59] tirr-c commented on #6
앋 이번 메일은 upnl.chairman에는 CC를 걸었어요

[2017-01-13 06:02] simnalamburt commented on #6
이미 보내신 메일 포워드도 부탁드려염

[2017-01-13 06:12] tirr-c commented on #6
부넬장도 공식 메일 주소가 있나요?

[2017-01-13 06:12] simnalamburt commented on #6
아녀 개인메일로 보내시면 될듯용. 제 메일도 개인메일로..

[2017-01-13 06:15] tirr-c commented on #6
보냈읍니다

[2017-01-13 07:06] #17 closed, assigned to nobody

[2017-01-20 04:37] tirr-c commented on #6
80번 포트 열린 것 확인했습니다.

[2017-01-20 13:42] simnalamburt commented on #3
### 서버 전기료
동아리가 김지현(서버관리자)에게 지급해주는 전기료는 **시즌 당 10만원**입니다. [결정 당시 회의 속기록](http://upnl.org/1039)

### 서버의 역사
- 2013년에 김지현이 입학하고 서버관리자가 될 시점에는 서버가 두대뿐이었다.
  - 소드락(sodrak)은 분당 IDC에 있었고 월 8만원이라는 무지막지한 사용료를 내고있었다. 떄문에 소드락 사용자들로부터 월 만원씩 이용료를 받고있었으나, 사용자들이 소드락을 떠날수록 적자가 심각해졌다. AWS나 다른 서비스들에 비해 너무 비쌌기때문에 김지현은 항상 이 서버를 IDC에서 빼고싶어했다.
  - 유리엘(uriel)은 지금도 그렇지만, 이때에도 동아리방에서 돌아가고있었다. 지금과의 차이점은 이때엔 뭔가 정전기가 잘 오르고

[2017-01-20 13:48] simnalamburt commented on #6
열은 포트 목록. 모두 TCP 입니다.

- 21 (FTP)
- 22 (SSH)
- 23 (Telnet)
- 80 (http)
- 110 (pop3)
- 136 (PROFILE Naming System)
- 143 (imap)
- 1023
- 1999 (cisco identification port/subseven backd)
- 2000 (Senna trojan)
- 2556 (nicetec-nmsvc)
- 3001 (Phatbot worm)
- 3140 (Arilia Multiplexor)
- 3176 (ARS Master)
- 3306 (MySQL)
- 3389 (Windows Terminal)
- 3456 (Terror trojan)
- 4665 (Container Client Message Serv

[2017-01-20 14:12] simnalamburt commented on #20
@VBChunguk 에델브로이에 우분투 16.04 LTS 설치할까요? 아니면 다른 배포판 쓸까요?

- ~~Ubuntu 16.04 LTS~~ Ubuntu 18.04 LTS
- CentOS 7
- OpenSUSE Leap

[2017-01-21 11:34] simnalamburt commented on #12
가상머신 호스트로 쓰는건 무리인것같아서, 그냥 제미니를 대신할 프로덕션 서버로 쓰기로 결정했음.

[2017-01-21 11:34] #12 closed, assigned to nobody

[2017-01-21 11:35] #19 closed, assigned to simnalamburt

[2017-01-21 11:40] simnalamburt commented on #20
관리가 제일 익숙한 우분투 사용하기로 결정. [이미지 다운로드 링크](https://www.ubuntu.com/download/server)

[2017-03-17 01:03] simnalamburt commented on #6
### 포트 개방하는법
<esjee@cse.snu.ac.kr>로 메일보내면 됨. 바로 처리될때도 있는데, 신규 IP를 개방하는경우 우리가 중전으로 뭔가 메일을 다시 보내야 하는경우가 있는것같으니 주의. 요청할때엔 아래 항목이 모두 담기게 해야한다.

- IP (ex: 147.46.113.114)
- 도메인 (ex: uriel.upnl.org)
- 용도 (ex: 동아리 실습서버 및 동아리 홈페이지)
- 학외개방이 필요한 포트 목록 (https://github.com/upnl/work/issues/6#issuecomment-274075783 참고)

우리가 지쌤에게 요청을 드리면, 지쌤이 우리 대신 중전과 연락하여 포트를 열어주신다. 그 과정은 **[첨부파일](https://github.com/upnl/work

[2017-04-18 13:10] simnalamburt opened #21 "제미니 네트워크 장애"
~~해결이 곤란한 문제이다. 어떻게 방법이 있나 알아보자.~~ 사용중이던 IP중 한개를 반납하는것으로 해결함

이하는 서버장애 관련 로그파일. 비밀번호는 [이와 같고](https://pastebin.com/raw/125K8Lft), @tirr-c  만이 열람할 수 있음.

- **[syslog.zip](https://github.com/upnl/work/files/929728/syslog.zip)**

#### 관련 대화 로그

[code]

[code]

#### References
- http://m.inven.co.kr/board/powerbbs.php?come_idx=2605&l=38284

[2017-04-18 13:22] simnalamburt commented on #21
@tirr-c  제미니에 vbchunguk 아이디로 계정 만들고, 공개키들도 전부 넣어놨어요. 시간되시면 한번 봐주세용.

[2017-08-09 11:37] simnalamburt commented on #21
원인불명으로 Close

[2017-08-09 11:37] #21 closed, assigned to nobody

[2017-08-10 07:33] simnalamburt opened #22 "위키 업데이트"
- [x] 위키 엔진 업데이트
- [ ] 위키에 있는 서버 문서들 업데이트, 한곳으로 일원화하기

[2017-08-11 10:56] simnalamburt opened #23 "제미니에서 다른곳으로 깃랩 옮기기"
제미니가 힘들어함

- [x] 도커화하기
- [x] 데이터 옮기기
- [x] 경로 옮기기

[2017-08-11 10:57] simnalamburt opened #24 "유리엘 인터넷문제 해결"

[2017-08-14 05:25] simnalamburt commented on #24
해결함. 두번다시 재부팅할때마다 손으로 맥주소 고치지 않아도 되도록 수정했음.

###### Reference
- http://wiki.upnl.org/admin/server/uriel

[2017-08-14 06:40] simnalamburt opened #25 "git 리포로 전환하지 못한 SVN 리포지터리들 옮기기"

[2017-08-14 06:59] #24 closed, assigned to nobody

[2017-08-14 07:29] simnalamburt commented on #22
`2017-02-19c "Frusterick Manners"` 로 업데이트함

[2017-08-14 07:39] simnalamburt commented on #22
위키 업데이트하는법

관리자에게만 보이는 *관리* 버튼을 눌러서

<img width="403" alt="2017-08-14 4 38 10" src="https://user-images.githubusercontent.com/4435445/29262334-07b035d0-810f-11e7-9721-f09881271dc1.png">

*위키 업그레이드* 버튼을 누르면

<img width="321" alt="2017-08-14 4 38 19" src="https://user-images.githubusercontent.com/4435445/29262344-13393fe6-810f-11e7-901a-6adff3d740ce.png">

아래와 같이 원클릭으로 도쿠위키 업그레이드를 할 수 있다.

<img widt

[2017-08-18 03:02] simnalamburt commented on #21
사용중이던 IP중 한개를 반납하는것으로 해결함

[2017-08-31 06:30] simnalamburt opened #26 "소드락 스토리지 바꾸기"
디스크 실패가 우려된다. 스토리지를 바꿔주자. 실 사용 용량이 별로 크지 않으므로, 서버별로 SSD를 두개씩 사서 RAID를 구성해주자. 다들 여유 PCIe 슬롯이 있으므로, M.2 확장슬롯을 사서 NVMe SSD를 두개 꽂자.

### 소드락
[code]

- 기존 스토리지
  - ST500DM002-1BD14: 470GiB SATA HDD, 2011년 모델, 워런티 기간: 2년
  - WDC WD10EACS-00D: 932GiB SATA HDD, 2007년 모델, 워런티 기간: 1년
- 실제 사용중인 용량은 88GiB, 107GiB
- NVMe 슬롯 없음
- x8 PCI Express 슬롯 하나 비어있음
- `/dev/sdb1`의 경우 ext4 로 업그레이드할 필요가 있음

### 에델브로이
[code]

[2017-10-02 21:09] simnalamburt commented on #25
하나도 남김없이 전부 옮겼음.

[2017-10-02 21:09] #25 closed, assigned to nobody

[2017-10-02 21:10] simnalamburt commented on #18
바꿨고, 다시 도포했음

[2017-10-02 21:10] #18 closed, assigned to simnalamburt

[2017-10-02 21:11] simnalamburt commented on #15
Thanks @jc-kim !

[2017-10-02 21:11] #15 closed, assigned to nobody

[2017-11-27 01:54] simnalamburt commented on #6
소드락 만료기한이 넘어서 메일을 다시 보내야합니다.

@LiverselleR @tirr-c 지은상 선생님께 메일을 보내주세요. 이번에는 sodrak, uriel, edhelbroy 세 서버 모두 동시에 신청해주세요.

[2017-11-27 01:55] simnalamburt commented on #20
원래는 우분투 16.04로 넘어갈 계획이었으나, 몇달만 더 기다리면 18.04가 나온다. 어차피 당분간 업그레이드가 급하지는 않으니 18.04로 바로 넘어가도록 합시다.

[2018-02-18 07:48] simnalamburt commented on #6
자동연장 된다고 한다.

[code]

(2018-02-18)

[2018-05-07 13:38] simnalamburt commented on #1
[Caddy](https://caddyserver.com/)로 인증서 자동갱신까지 전부다 자동화하여 해결했음!!!!!

[2018-05-07 13:38] #1 closed, assigned to simnalamburt

[2018-05-07 13:39] pbzweihander commented on #1
Caddy를 이용해 홈페이지를 비롯한 제미니에서 돌아가는 모든 웹페이지에 https를 적용시켰습니다!!

[2018-05-07 13:42] pbzweihander commented on #1
[![screenshot from 2018-05-07 22-37-26](https://user-images.githubusercontent.com/15262528/39704915-d4dd5560-5247-11e8-8931-fe46ecb06748.png)](https://www.ssllabs.com/ssltest/analyze.html?d=upnl.org&hideResults=on)

[2018-05-07 19:50] simnalamburt commented on #23
깃랩 도커화 완료

- [x] 깃랩 백업 완료: /var/opt/gitlab/backups/1525703763_2018_05_07_10.7.3_gitlab_backup.tar
- [x] 옴니버스 깃랩 종료함
- [x] 호스트머신 sshd 포트 2222로 바꿈
- [x] 도커 깃랩 띄움
- [x] 도커 깃랩 Caddy로 연결해서 정상작동 확인
- [x] 도커 깃랩에 백업 복원시킴
    - `/etc/gitlab/gitlab-secrets.json`도 같이 복원해야한다
    - https://docs.gitlab.com/ce/raketasks/backup_restore.html#restore-prerequisites
    - https://docs.gitlab.com/ce/raketasks/backup_r

[2018-05-07 20:02] simnalamburt opened #27 "Apache를 Caddy로 대체하기"
HTTP/2도 되고, HTTPS도 자동으로 되고, 설정파일도 훨씬 간단해서 관리 코스트가 격감한다. 하자

- edhelbroy (웹서버가 없음)
- gemini
  - [x] gemini.upnl.org
  - [x] upnl.org, www.upnl.org, join.upnl.org
  - [x] git.upnl.org
  - [x] pokemon.upnl.org
  - [x] helix.upnl.org
  - [x] u.upnl.org &rarr; 유피넬 홈페이지가 정식릴리즈 되기 전에 쓰던 임시도메인이다. 삭제함
  - [x] upnl.gemini.upnl.org &rarr; 임시 도메인이다. 삭제함
- sodrak
  - [x] sodrak.upnl.org
    - welcome 페이지
    -

[2018-05-07 20:04] simnalamburt opened #28 "Gitlab Docker swarm으로 배포하기"
현재 제미니 깃랩이 아래와 같이 날 컨테이너로 떠있는데, 도커 스웜으로 서비스화하자.

[code]

[2018-05-08 06:02] pbzweihander commented on #27
## sodrak

- [x] sodrak.upnl.org
  - welcome 페이지
  - `/var/www/greeting/sodrak` 로 이어줘야함
- [x] *.sodrak.upnl.org
  - 유저 페이지
  - `/home/*/public_html` 로 이어줘야함
- [ ] zal.sodrak.upnl.org
  - wsgi로 돌아가는 서비스
  - css가 깨짐
  - caddy에서 wsgi를 어떻게 물리는지 몰라서 보류
- [ ] book.sodrak.upnl.org
  - php로 돌아가는 서비스
  - caddy에서 php를 어떻게 물리는지 몰라서 보류
- trac, stats, pdns, menu 등의 서비스는 deprecated

## uriel

- [x] uriel.upnl.o

[2018-05-08 07:38] pbzweihander commented on #27
유저페이지의 경우 이어주는것은 성공했지만 wildcard 인증서 발급을 받지 못해 작동을 하지 않습니다.

[2018-05-09 06:03] simnalamburt commented on #20
에델브로이와 제미니, 두 프로덕션용 서버는 데비안 LTS를 썼으면 좋겠는데 어떻게 생각하시나요? @tirr-c  @pbzweihander

### 데비안 장점
- 우분투와는 다르게 이상한 기본프로그램들이 없음: **lxd**, **snapd**, open-iscsi, byobu, screen, xfsprogs, 등
    - 우분투 기본 패키지 목록 링크: [패키지 목록](https://packages.ubuntu.com/xenial/ubuntu-server), [디펜던시를 포함한 패키지 목록](https://people.canonical.com/~ubuntu-archive/germinate-output/ubuntu.bionic/server)

### 우분투 장점
- unattended-upgrades, a

[2018-05-09 07:38] simnalamburt opened #29 "유피넬 공용 Cloudflare 계정 생성"
지금 유피넬 cloudflare는 김지현의 개인계정으로 관리되고있는데, https://github.com/upnl/work/issues/9 가 해결되고나면 유피넬 공용 Cloudflare 계정을 만들 수 있다.

[2018-05-09 08:28] simnalamburt commented on #27
@pbzweihander 소드락에서 wiki가 누락된거같아요

[2018-05-09 10:33] simnalamburt opened #30 "Caddy 패키지화하기"
지금 제미니, 유리엘, 소드락을 보면 `/usr/local/bin/caddy`에 caddy 바이너리가 손으로 설치되어있는데, 이러면 관리가 불가능하다. 지금 손으로 설치한것들은 어차피 업그레이드하면서 지운다고 쳐도, 업그레이드 한 뒤에는 캐디 패키지를 설치하고싶다.

https://github.com/miekg/caddy-debian 이걸 포크해서 직접 caddy 패키징을 하자.

### TODOs
- [ ] Makefile을 도커로 대체하기
- [ ] 지금 저 Makefile은 pre-built caddy 바이너리를 손으로 가져와서 패키징하게되어있는데, caddy 바이너리 빌드하는 과정까지 전부 도커화한 뒤, build dependencies를 go로 지정하자
- [ ] systemd 유닛 파일, upst

[2018-05-09 11:06] simnalamburt commented on #30
Caddy까지 도커로 돌리기로 결정함. See https://github.com/upnl/work/issues/20

[2018-05-09 11:09] simnalamburt commented on #30
제미니는 모든 서비스를 도커화하는게 목표니까 제미니는 상관없다고 쳐도, 유리엘이나 소드락같은경우는 모든 유저들의 홈디렉토리를 서빙해줘야하는데 모든 유저들 홈디렉토리를 싸그리 마운트할게 아닌이상 Caddy를 도커화하기 난해하다.

[2018-05-12 11:08] simnalamburt opened #31 "도메인 양도받기"
유피넬 메일을 만들고나서, 유피넬 명의로 도메인 소유권을 양도받아야한다. 지금은 정밧시님의 소유로 되어있음.

도메인 Registrar도 가급적이면 한국 서비스 말고 [namecheap](https://www.namecheap.com/), AWS Route53, [Google Domains](https://domains.google/) 셋중 하나였으면 좋겠다. 셋중에선 네임칩이 제일 싸보인다.

CC @jinurius

### TODOs
- [x] 레지스트라 결정 &rarr; 클라우드플레어 쓰기
- [x] 유피넬 회계용 신용카드 혹은 페이팔 계정 만들기
- [x] 클라우드플레어 레지스트라 얼리억세스 열리면 트랜스퍼 시작하기
- 클라우드플레어 후속설정 하기
  - [x] ~~도메인 락 걸기~~ &rarr; 그

[2018-05-21 20:47] simnalamburt commented on #6
@tirr-c @pbzweihander 유리엘, 소드락, 에델브로이 세 서버에 대해 443번 포트를 개방해주세요.

http://uriel.upnl.org
http://sodrak.upnl.org

제가 지난번에 했을 때엔, 이렇게 별 기능 없는 소개페이지를 띄우기 위함이라고 안내해드리면 포트를 열어주셨었어요.

[2018-05-25 09:27] simnalamburt commented on #27
trac.upnl.org, stats.upnl.org, pdns.upnl.org, menu.upnl.org는 없앨지 말지 결정하기 전에, 한번 켜보고 어떤 서비스인지, 안에 어떤 데이터가 남아있는지 봤으면 좋겠어요. 제가 유피넬 SVN 리포들 git으로 변환할때처럼, 재미있는 데이터가 남아있을수도 있습니다.

[2018-07-04 02:45] simnalamburt opened #32 "G Suite 계정 삭제되는것 막기"
2018-08-02 까지 upnl.org G Suite 계정 관리콘솔에 접근하지 못하면, upnl.org 계정이 삭제됩니다.

지금 있는 upnl.org G Suite 계정이 예전에 사용한거여서 무료로 G Suite를 쓸 수 있습니다. 계정이 삭제된 뒤 다시 생성하면 유료로 써야합니다. 계정이 삭제되기 전에 반드시 복구해야 합니다.

지금 유피넬 G Suite 계정이 삭제될 위기에 처했으므로, 일단 임시로 postfix 도커서버 띄워서 임시로라도 upnl.org 계정을 복구해야합니다.

Blocked by #9

@pbzweihander @MKRoughDiamond  @tirr-c

[2018-07-04 02:46] simnalamburt commented on #9
지금 유피넬 G Suite 계정이 삭제될 위기에 처했으므로, 일단 임시로 postfix 도커서버 띄워서 임시로라도 upnl.org 계정을 복구해야합니다.

[2018-07-16 16:03] tirr-c commented on #9
Mailgun으로 진행하기로 했고, DNS 레코드를 청소해야 해서 복구하거나 메일건이 메일을 보내도록 세팅하기 전까지는 유피넬 깃랩이 메일을 못 보내게 됩니다.

[2018-07-16 16:28] simnalamburt commented on #5
복구했습니다. [@\_\_UPnL__](https://twitter.com/__UPnL__/status/1018891915222118400?s=19)

[2018-07-16 16:55] simnalamburt commented on #32
막상 복구시켜놓고 봤더니, 사용자가 simnalamburt(=저) 혼자이고 사용하거나 결제한 흔적이 아무것도 없는, 무료체험판이 끝난 계정이었습니다. 아무래도 과거에 테스트 용도로 만들었다가 던진 계정인 것 같습니다.

해당 G Suite 계정 삭제했습니다. Closing

[2018-07-16 16:55] #32 closed, assigned to nobody

[2018-07-17 01:50] simnalamburt commented on #5
트위터에서 광고메일을 보내서 우연히 [@TeamBerryz](https://twitter.com/TeamBerryz)라는 계정이 있다는 사실을 알게되어, 저 메일도 복구했습니다.

[2018-07-17 04:15] simnalamburt opened #33 "PHP가 꺼진 소드락 계정들 복구"
https://berryz.sodrak.upnl.org/main.php

[code]

CC @tirr-c

[2018-07-17 04:36] simnalamburt commented on #9
현재 임시로 `/^*.upnl.org$/` 로 오는 메일이 <simnalamburt@gmail.com> 으로 가는 상태입니다.

[2018-07-17 04:57] simnalamburt commented on #6
여러번 재촉하자 언제인지는 모르겠으나 포트가 개방되었다. 기한 없이 상시 열리게되나, 정보화본부에서 임의로 닫을 수 있다. Closing

[2018-07-17 04:57] #6 closed, assigned to tirr-c, pbzweihander

[2018-07-17 05:00] simnalamburt commented on #5
@tirr-c @pbzweihander @MKRoughDiamond

두 트위터 계정의 비밀번호는 https://pastebin.com/raw/1TjG1rEk 와 같습니다.

[2018-07-17 05:00] #5 closed, assigned to nobody

[2018-07-17 05:20] simnalamburt commented on #29
원래는 upnl@upnl.org 계정으로 클라우드플레어에 가입 한 뒤 pbzweihander@upnl.org tirr@upnl.org simnalamburt@upnl.org 를 직원으로 추가해서 여러 서버관리자가 DNS를 공동관리하려고 했습니다.

그러나 upnl.org에 달려있는 G Suite가 알고보니 무료체험판 끝난 못쓸물건이라는걸 알았으니 (#32) 다른 방안을 떠올려야합니다

1. upnl.chairman@gmail.com 으로 클라우드플레어에 가입한 뒤, simnalamburt@gmail.com 등 각 서버관리자의 개인 이메일을 클라우드플레어에 추가한다
2. postfix를 깔든 메일건을 쓰든 어떻게어떻게 해서 @upnl.org 이메일을 부활시킨 뒤, 원안대로 upnl@upnl.org 로 가입한

[2018-07-17 05:23] tirr-c commented on #29
지금은 1번으로 가는 게 좋을 것 같아요

[2018-07-18 06:18] simnalamburt commented on #29
1번으로 진행하겠습니다.

@pbzweihander <upnl.chairman@gmail.com>으로 클라우드플레어에 가입한 뒤, 아무것도 하지말고 (2FA 거시면 안됨) 저에게 그 클라우드플레어 계정의 임시 비밀번호를 알려주세요. 도메인 이전 작업 할게요.

[2018-07-18 13:54] simnalamburt commented on #29
비밀번호 https://gist.github.com/pbzweihander/de3923882d042f0b7c8f2eb07a214be2/raw/1d957c7d82c00f99706a68044c885e70767fefba/some_text

[2018-07-18 13:55] simnalamburt opened #34 "유피넬 정회원들에게 서버들 정책별로 루트권한 부여하기"
정회원인데 소드락 루트권한이 없는 유저가 발견됨. 부여하자.

[2018-07-18 13:56] simnalamburt commented on #34
ㅁ

[2018-07-18 14:03] simnalamburt opened #35 "소드락에 도커 설치"

[2018-08-05 16:52] simnalamburt commented on #29
현재 upnl.org 네임서버는 아래와 같다.

- chan.ns.cloudflare.com
- earl.ns.cloudflare.com

이것을 아래와 같이 고쳐야 클라우드플레어 계정 이전이 가능하다.

- asa.ns.cloudflare.com
- ernest.ns.cloudflare.com

양쪽 계정 DNS 레코드는 정확히 일치하도록 설정해둔 상태이다. 네임서버만 바꾸면 된다. @jinurius 님의 도움이 필요함.

[2018-08-05 17:00] simnalamburt commented on #29
### TODOs
- [x] 밧시님께서 네임서버 바꿔주시는것 기다리기
- 클라우드플레어 공용 계정에 세 서버관리자의 이메일 추가하기
  - [x] 김지현
  - [x] 티르
  - [x] 쯔방
- [x] 클라우드플레어 공용계정에 2FA 강제정책 켜기
- [x] 네임서버 바뀌는대로, 유리엘과 소드락 `/etc/init/caddy.conf` 에 박혀있는 클라우드플레어 크레덴셜 교체한 뒤, Caddy 서버 재시작하기

[2018-08-05 17:12] simnalamburt commented on #31
[code]

티르님께서 가비아->네임칩 해보셨는데 잘되셨다고 하셨다.

[2018-08-05 17:20] jinurius commented on #29
@simnalamburt 네임서버 변경했습니다.

[2018-08-05 17:22] simnalamburt commented on #29
@jinurius 끼요오 감사합니다

@pbzweihander 이 버튼 눌러조요

<img width="985" alt="a" src="https://user-images.githubusercontent.com/4435445/43688197-97ab7054-991f-11e8-94cf-32e119316a41.png">

[2018-08-05 17:51] simnalamburt commented on #2
주: 이후 소드락은 김지현 집에서 좀 돌다가, 전기세가 너무 많이 나와서 학교 서버실로 옮겨졌습니다.

[2018-08-05 17:51] #2 closed, assigned to nobody

[2018-08-05 17:52] simnalamburt commented on #16
Duplicate of https://github.com/upnl/work/issues/20, Closing.

[2018-08-05 17:52] #16 closed, assigned to nobody

[2018-08-05 17:57] simnalamburt commented on #29
계정 이전 완료!

[2018-08-05 17:57] #29 closed, assigned to simnalamburt

[2018-08-05 18:04] simnalamburt commented on #31
구글도메인은 한국인은 못쓰는듯 하다. 도메인 레지스트라는 네임칩 쓰기로 결정되었다.

[2018-08-05 18:20] pbzweihander commented on #31
도메인을 이전받기 위해 일단 네임칩에서 upnl.chairman@gmai.com으로 upnl 계정을 만들었습니다.

비밀번호는 암호화하여 others.md에 적어놓았습니다. 서버관리자만이 복호화 가능합니다.

[2018-08-18 17:16] simnalamburt opened #36 "[RFC] upnl-snu.slack.com과 UPnL IRC 잇기"
upnl-snu.slack.com의 #random 채널을 IRC에 이으면 그것이 가장 적당해보인다.

이을까요? @pbzweihander

[2018-08-18 18:17] pbzweihander commented on #36
원래 이으려고 했습니다! 잇는 방법이 있다고만 들어서 구체적으로는 모르지만, 이을 수 있다면 빨리 잇는게 좋을 것 같네요.

[2018-09-05 12:47] simnalamburt commented on #36
https://github.com/erikdesjardins/slack-irc-rust 이거 검토중이에여

[2018-09-05 13:10] simnalamburt opened #37 "Verified domain 설정"
<img width="755" alt="2018-09-05 10 06 18" src="https://user-images.githubusercontent.com/4435445/45095034-f970f200-b157-11e8-8752-8249e5209fae.png">

Verified 도메인 설정을 했어요. 이제 아래와 같이 verified 마크가 떠요

<img width="319" alt="2018-09-05 10 06 24" src="https://user-images.githubusercontent.com/4435445/45095040-fb3ab580-b157-11e8-8524-c0ca0405e557.png">

[2018-09-05 13:10] #37 closed, assigned to simnalamburt

[2018-09-05 16:39] simnalamburt commented on #27
웹서버들 caddy로 바꿀 때 그룹 마이크챗이 필요해서 디스코드를 잠깐 썼습니다. 디스코드 대화기록을 공유하기 쉽지 않아, 여기에 파일로 올립니다.

- [a.html.gz](https://github.com/upnl/work/files/2353735/a.html.gz)

###### Reference:
- https://github.com/Tyrrrz/DiscordChatExporter/pull/92

[2018-09-16 12:54] #36 closed, assigned to pbzweihander

[2018-09-16 13:08] simnalamburt opened #38 "레거시 유피넬 서비스들 도커화하기"
도커 스웜까지 써서 배포하는것을 목표로 한다.

- edhelbroy &rarr; 서비스가 없음
- ~uriel~ &rarr; 유리엘 서버가 사라짐
- gemini
  - [x] upnl.org, www.upnl.org, join.upnl.org
    - upnl, upnl-celery 서비스와 레디스, 포스그레디비를 도커화하면 될듯
    - ~~도커화 대강 성공했으나 uwsgi를 안쓰고있음~~ &rarr; ~~bjoern 쓰도록 했음~~ &rarr; gunicorn으로 변경
  - [x] git.upnl.org
  - [x] gemini.upnl.org
  - [x] pokemon.upnl.org
    - 도커화 대강 성공했으나 uwsgi를 안쓰고있음
  - [x] helix.upnl.org
- so

[2018-09-17 09:11] tirr-c opened #39 "유리엘 파워 팬이 돌지 않음"
https://upnl-snu.slack.com/archives/CCA7QKT32/p1537175361000100

올 것이 왔습니다... 파워를 교체해야 합니다. 하는 김에 케이스도 교체합시다.

[2018-09-17 11:28] simnalamburt commented on #39
오우 쒯

[2018-09-17 11:33] simnalamburt commented on #39
넬방이 먼지가 많아서 유리엘 내부 먼지로 뒤덮여있을것같네요. 내부청소한지 꽤 됐어요. 파워가 멈춘 원인도 먼지때문일것같네요. 이경우 먼지만 청소하면 다시 잘 돌수도있으니까 참고해주세요. 예전에 제가 클라이언트 컴퓨터였던 제미니 뜯어서 서버로 만들때에도 싹 분해해서 청소했었는데, 그때도 안쪽이 엄청 더러웠었어요.

그리고 케이스 새로 산다면, 다음에 케이스 조립할때, 컴퓨터 좀 아시는분이 조립하셔서 컴퓨터 내부 양압상태로 만들어서 먼지 안쌓이게 만들면 좋을텐데, 이거 할줄 아시는 분이 계실까요?

[2018-09-19 07:03] simnalamburt opened #40 "유피넬 백업시스템 만들기"
정말 다양한 데이터들이 있는데, 이 모든것들이 하드가 뻑나면 날아갑니다.

그냥 어떻게든 자동화해서 AWS S3나 AWS Glacier 같은곳에 올려버립니다. 저렴합니다.

### 백업 할 대상
- [ ] git.upnl.org
- [x] upnl.org
- [ ] pokemon.upnl.org
- [ ] helix.upnl.org
- [ ] 위 서비스들의 시크릿
- [ ] 쿠버네티스 상태 자체

### 할 일
- [ ] S3 에 자동으로 백업되게 만들기
- [ ] S3에 자동 백업들이 쌓이면, Lifecycle Policy 걸어서 오래된 백업들 자동으로 Glacier에 들어가도록 하기. https://github.com/upnl/infra/blob/7446a893c27de4200f077dabd03d7ec6

[2018-09-24 05:27] simnalamburt commented on #38
Bjoern을 써보고싶어졌어요

###### References
- https://github.com/jonashaag/bjoern
- https://blog.appdynamics.com/engineering/a-performance-analysis-of-python-wsgi-servers-part-2/

*UPDATE: Bjoern 적용 완료*

*UPDATE 2: gunicorn으로 바꿈*

[2018-10-06 17:17] simnalamburt opened #41 "유피넬 깃랩 유저들 프로젝트수 제한 넉넉하게 늘려주기"
초창기에 기본 프로젝트 제한이 10이었는지, 여전히 10으로 프로젝트 제한이 걸린 유저들이 있다.

제미니에서 아래 커맨드를 실행하여 일괄적으로 제한을 풀 수 있다. 깃랩 `10.7.3` 기준이니 유의할것

[code]

이렇게 하면 전원의 프로젝트 수 제한을 10000으로 만든다.

[2018-10-06 17:17] simnalamburt commented on #41
제한 해제 완료

[2018-10-06 17:17] #41 closed, assigned to simnalamburt

[2018-10-11 10:00] simnalamburt commented on #38
@pbzweihander DB를 옮기는 제일 쉬운 방법은, 백업을 만들었다가 그걸 새 디비에 복구시키는겁니다.

[2018-11-08 11:30] simnalamburt commented on #31
https://www.cloudflare.com/products/registrar/ 얘도 좋아보이네여 최저가보장에 공짜 DNSSEC

[2018-11-08 11:42] jinurius commented on #31
어떻게 할지 결정하신 후 제게 알려주시면 그대로 진행하도록 하겠습니다.

[2018-11-08 12:02] simnalamburt commented on #31
사실 거진 결정은 되었는데 다들 바빠서 진행을 못하는ㄱ........

[2018-11-16 05:57] simnalamburt opened #42 "실디비에 생성된 테스트 게시판들 삭제"
몬가 테스트게시판이 많이 생겼는데, 정리하자.

[2018-11-16 11:44] simnalamburt commented on #40
일단 백업 자동화를 위한 스크립트는 완성하였다. https://git.upnl.org/upnl-homepage/upnl-homepage/tree/master/contrib

디비 백업

[code]

업로드파일 백업

[code]

[2018-11-16 11:59] simnalamburt commented on #42
삭제함

[2018-11-16 11:59] #42 closed, assigned to simnalamburt

[2018-11-18 10:15] simnalamburt commented on #31
계정은 적을수록 좋은거같아서 네임칩 계정을 만들고 그걸 따로 관리하는것보단, Cloudflare 레지스트라를 쓰는게 나을 것 같네요. Cloudflare 도메인 얼리액세스 신청했어요. 답변 오면 트랜스퍼 시작할게요.

<img width="878" alt="1" src="https://user-images.githubusercontent.com/4435445/48671080-3436d380-eb66-11e8-96a7-946f67275ca3.png">

[2018-11-18 10:30] simnalamburt commented on #20
에델브로이 Cross-LTS upgrade 지금 합니다

[2018-11-27 15:26] simnalamburt opened #43 "소드락 Caddy가 인증서 갱신에 실패하고있음"
소드락은 와일드카드 인증서가 필요해서 클라우드플레어 액세스키를 환경변수로 넣게 되어있는데, 뭔진 잘 모르겠지만 얼마전부터 로그인에 실패해서 소드락쪽 웹페이지는 인증서가 전부 만료되었다.

고치자

[2018-11-27 15:48] simnalamburt commented on #43
누군가가 caddy 바이너리를 업데이트했는데 이때 cloudflare 플러그인을 켜지 않은것이 문제이다

[2018-11-27 15:54] simnalamburt commented on #43
이런 실수를 막기위해 Caddyfile 리포 리드미에 caddy 설치메뉴얼을 적겠음

[2018-11-27 16:04] simnalamburt commented on #43
클라우드플레어에 upnl.chairman@gmail.com 으로 로그인해서 API 키를 확인해야하는데, 클라우드플레어 계정에 MFA가 걸려있어서 확인 불가. @pbzweihander 님께서 해주셔야할 것 같네요

일단 수동으로 인증서 갱신하겠음

[2018-11-28 03:16] pbzweihander commented on #43
`/etc/init/caddy.conf`에 API Key 추가하고 caddy 재시작했습니다.

[2018-11-28 23:49] simnalamburt commented on #43
Great!

[2018-11-28 23:49] #43 closed, assigned to simnalamburt

[2018-12-19 17:06] simnalamburt commented on #28
하는중 https://github.com/upnl/swarm

[2018-12-19 18:24] simnalamburt commented on #28
완료

[2018-12-19 18:24] #28 closed, assigned to tirr-c, simnalamburt

[2018-12-19 18:36] simnalamburt opened #44 "유피넬 전용 사설 CI 세팅"
https://docs.gitlab.com/omnibus/docker/#deploy-gitlab-in-a-docker-swarm
https://docs.gitlab.com/runner/register/index.html#docker
https://docs.docker.com/compose/compose-file/#command

[code]

[2018-12-20 04:01] simnalamburt opened #45 "홈페이지에 헬스체크 붙이기"
이제 유피넬 홈페이지가 도커 스웜을 쓰므로, 헬스체크만 붙여주면 서버에 문제가 생길 시 자동으로 재부팅되게 할 수 있다.

###### References
- https://docs.docker.com/engine/reference/builder/#healthcheck
- https://github.com/femiwiki/parsoid/blob/1db0150945d9d8d84e0d1b8f767916940ed7ea20/Dockerfile#L8

[2018-12-20 04:17] simnalamburt commented on #40
백업을 주기적으로 돌리려면 도커 안에서 크론잡을 돌려야하는데, 이것은 https://github.com/femiwiki/rankingbot/blob/master/Dockerfile 참고

[2018-12-20 04:35] simnalamburt commented on #40
@pbzweihander 기존에 `/home/simnalamburt/upnl.org/backups`에 있던 백업들은 `/srv/upnl.org/backups`로 옮겼습니다.

[2018-12-20 04:40] simnalamburt commented on #39
버리는것으로 결정됨

[2018-12-20 07:02] pbzweihander commented on #45
홈페이지 Dockerfile에 다음을 추가하였습니다.

[code]

[2018-12-20 08:40] simnalamburt commented on #45
@pbzweihander 닫으면 되나유? 배포하고 실적용 된거죠?

[2018-12-20 22:39] pbzweihander commented on #45
상태를 지켜보니 잘 동작하는 것 같습니다. 실제로 뭔가 문제가 생겨 500 에러를 뱉었을 때 자동으로 재시작 되는 것을 확인했습니다.
근데 지금 홈페이지 root (http://upnl.org/)에 GET을 날리는 거라 돌아오는 값이 홈페이지 메인 전체라서 inspect를 통해 봤을 때 로그가 굉장히 더러워 지는 문제가 있습니다.

홈페이지 코드를 수정해서 간단하게 빈 200 OK를 내놓은 endpoint를 추가하고 그걸로 healthcheck를 하도록 바꾼 후 닫겠습니다.

[2018-12-21 01:44] pbzweihander commented on #45
`/_healthcheck` endpoint를 만들어 헬스체크를 수행하도록 업데이트했습니다. 잘 작동합니다!

[2018-12-21 01:44] #45 closed, assigned to pbzweihander

[2018-12-21 04:27] pbzweihander commented on #40
주기적으로 디비와 업로드 폴더를 백업하는 서비스를 도커로 만들어 올렸습니다.

백업 주기는 일단 디비는 3일, 업로드는 5일마다 하도록 했습니다. 5일 뒤에 둘 다 잘 돌았으면 다시 백업 주기를 조정하는게 좋을거 같아요.

[2018-12-21 04:54] simnalamburt commented on #40
업로드는 어디에 하실 계획이신가요?

2018년 12월 21일 (금) 오후 1:27, Thomas Lee <notifications@github.com>님이 작성:

[2018-12-21 11:30] simnalamburt commented on #40
일단 `/srv/upnl.org/backup`에 하셨군요. 쯔방님 저희 백업용 cron 도커 이미지는 오픈소스해도 될거같은데 (관리 편의를 위해서) 어떻게 생각하세요?

[2018-12-21 11:35] simnalamburt commented on #9
`@upnl.org` 메일을 만들어서 관리할 포인트를 늘리는것보단, 지금 `~~@upnl.org` 로 가입한 각종 계정들의 이메일 주소를 `upnl.chairman@gmail.com` 으로 바꾸고 Mailgun을 끄는 작업을 진행하는게 나을것같은데 어떻게 생각하시나요?

[2018-12-24 02:42] simnalamburt opened #46 "Mattermost PoC"
슬랙과 거의 비슷하게 생김, 오픈소스이고 대화기록이 유실되지 않음 https://github.com/mattermost/mattermost-server 체험은 https://oss.mattermost.com/login 여기서

Zulip도 있음. https://github.com/zulip/zulip 슬랙과는 일부 기능들을 다르게 만들어서 생산성을 올리는데에 더 초점을 맞춤. https://zulipchat.com/why-zulip/ 그러나 @tirr-c 에 의하면 UI/UX 가 구리다는 평이 있음. 체험은 https://chat.zulip.org/login/ 여기서

제가 써본 감상:

mattermost는 역시 슬랙과 거의 비슷하고, 슬랙보다 나은점이 두가지 있다. 슬랙은 웹앱에선 workspace 전환

[2018-12-24 03:48] simnalamburt commented on #31
<img width="1087" alt="2018-12-24 12 45 46" src="https://user-images.githubusercontent.com/4435445/50390394-26cec380-077a-11e9-97bc-eec1471bc7dd.png">

트랜스퍼 가능해졌어요. 트랜스퍼 시작하기 전에 유피넬 회계용 신용카드 혹은 페이팔 계정 둘중하나를 만들어야해서 이거먼저 하겠습니다

[2018-12-24 03:58] simnalamburt opened #47 "유피넬 페이팔 계정 만들기"
https://blog.toss.im/2018/10/18/toss/tips/joint-account/

이거 하면 장점이

- **유피넬 회원 전원이 아무때나 계좌 이체내역을 확인할 수 있어서 자금운용이 매우 투명해짐**
- 회계 바뀔때마다 매번 계좌만들지 않아도 돼서 좋고
- 매번 계좌만들때마다 이체한도 늘리는 번거로움이 줄고
- 유피넬 계좌가 바뀌지 않으니 외부에서 후원금 받거나 회비내거나 이런저런 일 할 때 혼란이 줄고
- 온라인결제 필요할 때 (#31 이라던가) 페이팔계정에 한번 붙여놓고 바꿀 필요가 없음
- 회비독촉기능이 달려있어서 회계가 회원들에게 회비독촉하기 편함
- 계좌가 바뀌지 않으니 계좌에 이체내역이 살아있어 동아리 자금 추적이 쉬워짐

단점은

- 유피넬 회계가 토스를 써야함 (동아리 회

[2018-12-26 10:57] pbzweihander commented on #40
백업하는 이미지를 굳이 다른 리포를 팔 필요 없을 거 같아서 일단 홈페이지 리포 안에 넣어놨어요. 오픈소스화 하면 나중에 참고하기 편하긴 하겠지만 홈페이지 배포할때 두 리포를 각각 받아서 띄우기엔 불편할거 같아요.

[2018-12-26 11:46] simnalamburt commented on #40
@pbzweihander 그렇지 않아요. 백업용 cron 도커 이미지를 오픈소스한다면 hub.docker.com 에 업로드할 수 있기때문에, 홈페이지 배포할때에 `docker pull`을 두번이 아니라 한번만 쳐도 돼요

[2018-12-27 01:07] pbzweihander commented on #40
그렇네요! docker hub automated build도 붙일 수 있겠군요. 제가 리포를 파서 올려놓겠습니다.

백업 자체는 매우 잘 이루어지는 것을 확인했습니다.

이슈는 닫아야할까요 아니면 제미니 밖으로 백업하는 수단이 완성될 때 까지 열어놓을까요?

[2018-12-27 02:23] simnalamburt commented on #40
제미니 밖으로 백업하는 수단이 완성될 때 까지 열어주세요

[2018-12-30 12:13] pbzweihander commented on #47
토스 공동계좌가 좋아보이긴 하는데, 한도가 150만원인건 너무 작은거 같아 보입니다.

[2018-12-31 02:51] simnalamburt commented on #47
http://blog.kakaobank.com/223 카카오뱅크 모임통장이라고 비슷한 상품이 하나 더 있는데 이건 어떤가요?

[2018-12-31 03:28] pbzweihander commented on #47
https://www.kakaobank.com/products/moim 카카오톡에 너무 dependent한거 같긴 한데 괜찮아보입니다. 정기모임때 정회원과 회계와 논의해서 사용을 결정해보겠습니다.

[2019-01-03 04:17] simnalamburt opened #48 "유피넬 깃헙 봇계정 만들기"
도커헙에서 UPnL Org를 만들었는데, 아래와 같은 문제가 있다. 지금은 @pbzweihander 의 계정이 링크되어있는데, 이러면 정작 @pbzweihander 본인이 본인의 도커헙 계정에 본인의 깃헙계정을 링크할 수 없다. 봇계정 만들자.

<img width="900" alt="2019-01-03 1 08 43" src="https://user-images.githubusercontent.com/4435445/50623484-bf72f980-0f59-11e9-8396-1576c8656969.png">

### TODOs
- [x] 유피넬 공식메일로 깃헙계정 만들기
- [ ] 유피넬 공식메일로 Gravatar 계정 만들어서 프사 등록하기
- [ ] 유피넬 도커헙 Org에 가서 깃헙계정 링크 바꾸고 프사

[2019-01-03 04:31] simnalamburt opened #49 "코드 라이센스 걸기"
유피넬 깃헙에 있는 소스코드들에 라이센스가 안걸려있음.

@pbzweihander 와 합의해서, 지금 있는 아래의 다섯개는 'Apache-2.0 OR MIT' 로 하기로 함

### TODOs
- [ ] work
- [ ] greeting (라이센스 걸기전에 안에 있는 출처가 불분명한 이미지들 교체해야함)
- [ ] Caddyfile
- [ ] swarm
- [ ] upnl-org-backup

[2019-01-03 05:02] pbzweihander commented on #48
<upnl.chairman@gmail.com>으로 @upnl-snu 계정을 만들었습니다. 비밀번호는 others.md에 넣어놓았습니다.

[2019-01-03 05:22] pbzweihander commented on #48
docker hub upnl org에 제 계정 연동을 끊고 upnl-snu 계정을 연동시켰습니다.

[2019-01-03 05:23] pbzweihander commented on #48
Gravatar는 있으면 좋지만, 관리해야할 계정이 늘어나게 되는거 같아서 굳이 없어도 되지 않을까 싶네요

[2019-01-07 10:27] pbzweihander commented on #47
카카오뱅크 모임 통장도 결국 기존 통장 처럼 예금주가 한명으로 정해져 있는 시스템이라는데, 이러면 회계가 바뀌는 상황에선 여전히 쓰기 힘들어 보입니다.

[2019-01-08 02:44] simnalamburt commented on #47
이 문제 다른 해결방안 없을까요

[2019-01-09 10:02] pbzweihander commented on #47
바쿠스는 깃헙이나 클라우드플레어 등의 결제정보를 바쿠스의 명의의 페이팔 계정으로 설정해놓고 회계가 바뀌면 페이팔 계정의 결제정보만 바꾸는 식으로 운영한다고 합니다.

정기모임때 비영리단체를 만들자는 의견도 나왔는데 조금 찾아본 결과 힘들거 같다고 하고, 저희도 페이팔 계정을 만드는게 가장 현실적인 해결책일거 같아요..

[2019-01-09 13:49] simnalamburt commented on #47
좋아요 그렇게 해주세요

[2019-01-16 06:26] simnalamburt commented on #47
혹시 페이팔 계정 만드는데에 어떤 문제가 있다면 알려주세요 도와드릴게요. 3월 21일이 도메인 만료일이어서 그 전에 도메인 이전을 해야하는데, 도메인 이전과정이 통상 적어도 2주는 소요됩니다. 시간이 별로 많이 남지 않았으니 최대한 빨리 진행해야해요.

[2019-01-17 06:04] pbzweihander commented on #47
뉴-회계님의 계좌 개설과 카드 발급이 늦어져서 조금 걸릴 것 같습니다. 그래도 1월 안까진 될 것 같네요. 페이팔에 '계좌'를 등록하려면 페이팔 계정 명이 계좌 예금주와 동일해야해서 '카드'를 등록하는 방향으로 가려고 합니다.

[2019-01-21 11:54] pbzweihander commented on #47
네오-회계님의 도움으로 페이팔 계정을 개설하고 회계 카드를 등록하고 클라우드플레어 계정과 연결시켰습니다. 이제 도메인 이전 작업을 시작할 수 있습니다.

[2019-01-21 13:12] #47 closed, assigned to pbzweihander

[2019-01-21 13:12] #48 closed, assigned to simnalamburt

[2019-01-21 13:13] pbzweihander commented on #31
페이팔 계정 붙이고 정밧시님과 함께 작업해서 도메인 이전 진행 중입니다. 5일 정도 기다려보라고 하니 일단 며칠 지켜봅시다.

[2019-01-28 00:24] jinurius commented on #31
@pbzweihander 닷네임에 걸려 있던 '도난방지 서비스'를 해제했습니다. lock이 걸려 있었다는 건 아마도 이것 같은데, 이제 진행이 될 것 같아요. 확인 부탁드립니다~

---

추가 내용: 제게 도메인 이전 승인 메일이 와서 승인을 했습니다. 제가 진행해야 할 부분은 아마도 완료가 된 것처럼 보이네요 ㅎㅎ

[2019-01-28 07:05] pbzweihander commented on #31
![screenshot from 2019-01-28 16-04-16](https://user-images.githubusercontent.com/15262528/51819642-79ba0e80-2316-11e9-9e7a-8804f1fdad6b.png)

도메인 이전이 완료되었습니다!

[2019-01-28 09:10] simnalamburt commented on #31
네임칩 계정도 삭제하고 닫아야할것같아여. 맨 위 이슈의 TODO 참고해주세여

[2019-01-28 09:26] pbzweihander commented on #31
도메인 락은 자동으로 걸려있는거 같아요.

WHOIS privacy도 기본으로 자동 지원 되요.

도메인 자동갱신도 설정되어있습니다.

[2019-01-31 05:37] pbzweihander commented on #31
네임칩 계정을 삭제해달라는 문의를 넣었습니다.

[2019-01-31 07:19] pbzweihander commented on #31
![screenshot from 2019-01-31 16-18-48](https://user-images.githubusercontent.com/15262528/52037941-e9790500-2573-11e9-84f2-c2ca07d8e72a.png)

네임칩 계정 삭제가 완료되었습니다.

[2019-01-31 08:13] simnalamburt commented on #31
감사합니다! 고생 많으셨어요

[2019-01-31 08:13] #31 closed, assigned to nobody

[2019-05-13 05:49] simnalamburt commented on #20
우분투 14.04 LTS 지원이 2019년 4월 부로 종료되었습니다. 이제 정말로 업그레이드를 해야할텐데...

[2019-06-28 06:32] simnalamburt opened #50 "제미니 AWS로 옮기기"
작년에 제미니가 하드웨어도 노후하고 정전사고도 한번 발생했었어서, 이를 AWS로 옮기기로 이미 결정했습니다. 아직 실행이 안된 상태인데, 슬슬 실행해봅시다.

### TODOs
- [x] AWS 계정 만들기 &rarr; @integraldx 님께서 처리해주심 https://github.com/upnl/work/commit/537e87274
- [x] AWS IAM 계정 만들기 (서버관리자만)
- [x] [Terraform Cloud] 회원가입하기, 2FA 켜기, `~/.terraformrc` 세팅
- [x] 팀 만들고 사람들 초대하기 &rarr; https://app.terraform.io/app/upnl/workspaces
- [x] 사람들 IAM User 액세스 시크릿 만듦
- [x] 서버관리자 Grou

[2019-07-24 18:15] simnalamburt commented on #50
2주 안에 해결해야할것같아요. 저 이사하기까지 시간이 얼마 안남았어요.

[2019-07-24 18:17] simnalamburt commented on #50
2주 안에 해결해야할것같아요. 제미니를 꺼야하는 날이 얼마 안남았어요

[2019-08-22 03:06] pbzweihander opened #53 "각 서비스들을 swarm에서 kubernetes로 옮기기"
- [x] [swarm](https://github.com/upnl/swarm) 리포 이름을 kubernetes로 바꾸기
- [x] k3s에 aws-cloud-controller-manager 붙이는것 성공시키기
- 각 서비스 옮기기
  - [x] 홈페이지 @tirr-c
  - [x] 깃랩
  - [x] 포디비 @pbzweihander
  - [x] 헬릭스 @pbzweihander

[2019-08-22 03:07] pbzweihander commented on #53
참고할만한 쿠버 파일

[code]

[2019-08-22 03:10] pbzweihander commented on #53
swarm 리포의 이름을 바꿨습니다. 이제 [kubernetes](https://github.com/upnl/kubernetes) 입니다.

[2019-08-22 03:38] pbzweihander commented on #53
참고할 만한 링크: https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/

[2019-08-22 06:38] pbzweihander opened #54 "서비스 이미지를 올릴 private docker image registry 찾기"
- ECR
  - 월 500MB 무료
  - 1GB당 월 0.1USD
- [github packages](https://github.com/features/packages)
  - https://help.github.com/en/articles/configuring-docker-for-use-with-github-package-registry
  - ~~UPnL Org는 아직 베타 액세스를 받지 못해서 당장 사용할 수 없다.~~ GitHub Packages GA 되어서 아무나 쓸 수 있음

[2019-08-23 12:24] simnalamburt opened #55 "하드디스크 남은 용량 모니터링하기"
각 블록디바이스 별로 남은 용량 모니터링해야함

[2019-08-23 14:14] pbzweihander commented on #55
cloudwatch alert 같은거 만들어두면 어떨까요? 이것도 비용이 청구되던가...?

[2019-08-23 14:15] pbzweihander commented on #55
https://aws.amazon.com/ko/cloudwatch/pricing/

경보 10개까진 괜찮은듯

[2019-08-23 14:19] pbzweihander commented on #55
CloudWatch에서 EBS 볼륨의 남은 용량을 알 방법이 없어서 안된다고합니다 ㅠ

[2019-08-23 14:51] pbzweihander commented on #55
https://docs.aws.amazon.com/ko_kr/AWSEC2/latest/UserGuide/mon-scripts.html#using_put_script 디스크 용량 모니터링하는 스크립트

[2019-08-27 09:27] pbzweihander commented on #54
ECR을 쓰기로 했으나 CCM이 ECR credential을 받아오지 못하고 있는 것 같아서 난항중

[2019-08-27 09:28] pbzweihander commented on #55
https://docs.aws.amazon.com/ko_kr/AmazonCloudWatch/latest/monitoring/metrics-collected-by-CloudWatch-agent.html

[2020-01-05 23:44] #39 closed, assigned to nobody

[2020-01-05 23:44] simnalamburt commented on #30
Kubernetes로 옮기게되면서 Caddy 안쓰게됨

[2020-01-05 23:45] simnalamburt commented on #30
sodrak에선 Caddy를 계속 쓰겠네요 죄송합니다

[2020-01-29 15:37] simnalamburt commented on #40
이거 안해서 https://upnl.org 의 2019-12-14 ~ 2020-01-29 데이터가 날아갔다

[2020-02-16 08:50] simnalamburt commented on #50
helix.upnl.org 의 upstart service 파일이었던 것입니다

[code]

[2020-02-16 15:28] simnalamburt commented on #13
업그레이드 완료

[2020-02-16 15:28] #13 closed, assigned to nobody

[2020-02-16 15:29] simnalamburt commented on #46
요즘 드는 생각인데 채팅서비스를 하나 더 운영하느니 차라리 디스코드를 쓰는게 낫지 않나 싶어요

[2020-02-16 15:39] simnalamburt opened #56 "AWS 서버에 이름 붙이기"
귀찮아서 기존 제미니를 "구 제미니"라고 부르고 AWS 서버 이름을 "신 제미니"라고 명명했더니 개판이 되었다.

"제미니"라는 이름은 2008년부터 2020년까지 유피넬에서 쓰였던 물리머신의 이름으로 고정하고, AWS 서버를 위한 이름은 새로 지어주자.

새 이름이 지어지면 upnl/infra 리포의 테라폼 코드를 비롯해 AWS 서버를 제미니라고 명명한 곳은 모두 고쳐야 한다.

### TODOs
- [x] 이름 짓기 &rarr; ebony
- 테라폼 코드에 새 이름인 ebony 반영하기
  - [x] https://github.com/upnl/infra/blob/d015dd3a/ec2.tf#L38 &rarr; Closed by https://github.com/upnl/infra/commit/d526f5

[2020-02-16 17:35] simnalamburt commented on #40
제미니 머신 안에 있던 백업들 모두 S3에 올렸습니다

[2020-03-03 08:22] simnalamburt commented on #56
유피넬 전통인 “드래곤라자 소설 아무권 아무페이지를 펼쳐서 나오는 맨 첫 고유명사로 서버이름 짓기”에 따라, 드래곤라자 4권 13페이지 맨 앞에 나오는 네리아의 까만 말의 이름인 “에보니” (ebony, 에보니 나이트호크)로 결정됨.

![BD20C30C-AA4D-429D-A3CB-473530884C98](https://user-images.githubusercontent.com/4435445/75756145-7728b480-5d73-11ea-934e-b6d2b27665d1.jpeg)

[2020-03-31 09:43] pbzweihander opened #57 "깃랩을 AWS로 이전하기"
#50 에서 제미니에 떠있는 서비스를 AWS 서버로 옮기는 도중, 깃랩 이전 도중에 문제가 생겨 이전되지 않은 상황이라, 이를 따로 이슈로 만들어 트래킹합니다.

[2020-03-31 09:47] pbzweihander commented on #57
현재 새 AWS 서버 (에보니)에서는 각 서비스의 PV마다 EBS 볼륨을 하나씩 만드는 방식으로 운용하고 있습니다. EBS는 크기에 비례해서 IO크레딧이 오르는데, 이렇게 하면 EBS 하나하나의 크기가 너무 작아서  IO크레딧이 생성되는 속도보다 IO크레딧을 사용하는 속도가 더 커지게 됩니다. 그래서 저번에 깃랩이 IO 크레딧을 전부 소모하는 장애가 일어났습니다.

위를 해결하기 위해, https://kubernetes.io/blog/2019/04/04/kubernetes-1.14-local-persistent-volumes-ga/ 이걸 이용해서 도커 스웜에서 하듯이 모든 PVC들을 `/srv/git.upnl.org`, `/srv/upnl.org` 등의 폴더에 마운트를 시키고, 이 `/srv` 폴더만 EBS

[2020-03-31 09:48] pbzweihander commented on #57
위 작업이 너무 힘들고, 깃랩의 이전이 급하다면, 일단 별개의 인스턴스를 띄운 후 거기에서 깃랩을 돌리는 방식으로 할 수도 있습니다.

[2020-04-04 02:49] integraldx commented on #57
- [x] infra 리포에 EBS 마운트 정의 추가
- [x] StorageClass 정의
- [x] GitLab 포드 디플로이
- [x] 기존 서비스 LocalStorage 방식으로 변경
- [x] 기존 서비스 데이터 이전
- [x] GitLab 데이터 이전

[2020-04-04 18:18] tirr-c commented on #57
깃랩 혼자 2GB를 잡아먹어 t3a.medium으로 커버가 안 되는 수준입니다.

[2020-04-05 02:04] integraldx commented on #56
infra 코드에 반영했습니다.

[2020-04-05 05:33] tirr-c commented on #57
프로메테우스 끄고 메모리 리밋을 줘도 힘들어하면서 결국엔 죽어 버렸습니다.

[code]

깃랩이 없을 때의 메모리 사용량인데, 최소 요구사항인 2GB가 들어갈 여유가 거의 없습니다. 깃랩까지 제대로 돌리려면 t3a.large가 필요할 것 같습니다.

[2020-04-05 09:17] simnalamburt opened #58 "Saving Plan/RI 구매하기"
t3a.large를 앞으로 꾸준히 쓸것같습니다. 비용절약을 위해 Saving Plan/RI를 구매해봅시다.

[2020-04-05 09:34] simnalamburt commented on #58
![image](https://user-images.githubusercontent.com/4435445/78471403-060e5f80-776c-11ea-80d4-5da6b90f46b7.png)

@tirr-c 님께서 결제하심

[2020-04-05 09:34] #58 closed, assigned to nobody

[2020-04-05 09:35] tirr-c commented on #57
t3a.large로 올리고 안정된 것 확인했습니다.

[2020-04-05 09:35] #57 closed, assigned to nobody

[2020-04-05 09:36] simnalamburt commented on #57
@integraldx @pbzweihander @tirr-c 세분 모두 너무 고생 많으셨습니다.

[2020-04-05 09:38] simnalamburt commented on #38
최근 서비스들은 모두 도커화가 완료되고 에보니에 쿠버네티스로 돌아가고있습니다. 제목을 "레거시 유피넬 서비스들 도커화하기"로 바꿉니다

[2020-04-05 09:46] simnalamburt commented on #3
제미니 &rarr; 에보니 이전 완료. 더이상 서버비를 받지 않아도 된다.

###### Reference
- https://upnl.org/2540

[2020-04-06 01:23] pbzweihander commented on #56
resource 이름 등은 변경했는데 IAM Role 이름 등에 아직 gemini가 남아있습니다.

[2020-04-06 04:14] simnalamburt commented on #56
지금 아마 k3s가 AWS 권한을 아예 안쓰지 않나 싶은데.. 제미니로 이름지어진 인스턴스 프로필 걍 다 지워버릴까요 (?)

[2020-04-06 05:01] simnalamburt commented on #56
https://github.com/upnl/infra/pull/7 때문에 필요하겠네요 ㅋㅋ

[2020-04-06 07:23] simnalamburt commented on #56
작업 완료

[2020-04-06 07:23] #56 closed, assigned to nobody

[2020-04-06 07:54] simnalamburt commented on #53
작업 완료됨

[2020-04-06 07:54] #53 closed, assigned to tirr-c, pbzweihander, integraldx

[2020-04-06 07:54] simnalamburt commented on #40
https://github.com/upnl/kubernetes/pull/12 에서 작업이 진행중입니다.

[2020-04-06 07:56] simnalamburt commented on #26
제미니는 퇴역하였으므로 제목을 바꿈

[2020-04-06 07:57] simnalamburt commented on #44
Gitlab CI 뭔가 평이 별로 안좋던데 Drone CI같이 다른녀석들을 써도 괜찮지 않을까 생각해봅니다

[2020-04-06 08:10] simnalamburt opened #59 "AWS IAM 세팅하기"
### TODOs
- [x] AWS 루트계정에 MFA 걸기
- [ ] AWS IAM 계정들에 MFA 강제하기
- [ ] AWS IAM 유저도 Billing Dashboard에 접근 가능하도록 세팅하기
- [ ] AWS IAM 유저그룹 만들기 (넬장/부넬장 그룹, 서버관리자 그룹, 정회원 그룹, 준회원 그룹, 등)
- [ ] AWS IAM 롤 만들기 (서버 추가삭제 권한 있는지 여부, 등)
- [ ] AWS EC2 Instance Connect 써서 회원들에게 서버 접근권한 나눠주기 https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Connect-using-EC2-Instance-Connect.html

[2020-04-06 08:12] simnalamburt commented on #50
제미니 AWS 이전이 완료되었습니다. 남은 자잘한 할일들은 별도 이슈로 옮기겠습니다

[2020-04-06 08:12] #50 closed, assigned to tirr-c, simnalamburt, pbzweihander, integraldx

[2020-04-06 08:13] simnalamburt opened #60 "유피넬 서버들 SSH Test 돌리기"
SSH 설정을 안전하게 고쳐봅시다

### TODOs
- [ ] 소드락
- [ ] 에보니
- [ ] 에델브로이

###### Reference
- https://sshcheck.com/

[2020-04-06 08:14] simnalamburt opened #61 "Kubernetes 사용성 개선하기"
https://github.com/upnl/work/issues/50 에 있었던 일 중 Kubernetes CD와 관련된 일들을 여기로 가져옵니다

### TODOs
- [ ] [aws-iam-authenticator](https://github.com/kubernetes-sigs/aws-iam-authenticator) 쓰기
- [ ] https://github.com/bitnami-labs/sealed-secrets 쓰기

[2020-04-06 08:18] simnalamburt opened #62 "유피넬 웹서비스들 HTTPS 세팅 고치기"
For the better good. #50 에서 HTTPS 관련 일감들을 여기로 옮겨왔습니다.

### TODOs
- [ ] Support TLS 1.3
- [ ] Enable HSTS
- [ ] Enable HSTS preloading, https://hstspreload.org/
- [ ] Turn off TLS 1.0, TLS 1.1, and disable dangerous ciphers from TLS 1.2
- [ ] Enable HTTP/2
- [ ] Support brotli & zstd HTTP Content-Encoding
- [ ] Get A+ on https://www.ssllabs.com/ssltest/
- 더 할일 있으면 추가바람

[2020-04-06 08:19] simnalamburt commented on #23
에보니 서버로 옮겨졌습니다. https://github.com/upnl/kubernetes/pull/9 참고

[2020-04-06 08:19] #23 closed, assigned to nobody

[2020-04-06 08:19] simnalamburt commented on #35
지금 이 서버는 도커가 문제가 아니다. Closing

[2020-04-06 08:19] #35 closed, assigned to nobody

[2020-04-06 08:32] simnalamburt commented on #10
서버 문서화는 이 리포지터리에서 잘 되고있어서, 괜히 두개 만들면 Single source of truth가 깨져서 관리가 귀찮을것같다.

다만 유피넬 서비스가 여러개가 되면서 서비스 안내하는 페이지는 여전히 필요한것같다.

[2020-04-06 08:32] simnalamburt commented on #33
뭔가 시간이 한참 지났는데, 자유개발 동아리라는 곳에서 굳이 PHP를 계속 지원해야할 필요가 있을까 싶다

[2020-04-06 08:33] simnalamburt opened #63 "AWS 서버 에델브로이로 이전하기"
꺼져서 접근이 안된다. 서버실 가서 켜야한다.

### TODOs
- [x] 에델브로이 부팅 성공시키기
- [x] 에델브로이 재설치하기
- [x] 다시 서버랙에 꽂기
- [x] 옆 실습컴에서 뽑은 랜선 복구시키기
- [x] 포트 열기 (메일 보냈음, 회신 대기중)
- [x] 인터넷 반복적으로 끊겼다가 됐다 하는 현상 해결하기. 아무래도 컴퓨터문제는 아닌것같아 메일 보냄, 회신 대기중
- [x] AWS에 저장되어있고 따로 백업되어있지 않던 도커이미지들 깃헙에 모두 올리기
- [x] 도커이미지들 경로 로컬이 아니라 GHCR을 가리키도록 YAML모두 고치고
- [x] Let's Encrypt 이슈어 대신 클라우드플레어 DNS-01 챌린지 쓰도록 고친다음
- [x] 에보니에서 위의 작업을 모두 적용시켜도 정상동작하

[2020-04-25 13:25] simnalamburt commented on #63
부트디바이스가 안잡혀서 부팅이 안됨. 디버깅이 필요함

###### Reference
- https://upnl-snu.slack.com/archives/CCC0XG5V5/p1587021124117400

[2020-07-04 07:03] tirr-c opened #64 "오래된 백업 적절하게 처리하기"
S3에 쌓이는 백업이 만드는 비용이 5달러/월/월의 속도로 증가하고 있습니다.

오래된 백업을
- 지운다
- Glacier로 옮긴다

라이프사이클 훅으로 잘 해볼 수 있을 텐데 확인해봐야 합니다.

[2020-07-08 12:19] simnalamburt commented on #64
https://github.com/upnl/infra/blob/7446a893c27de4200f077dabd03d7ec6853beb51/s3.tf#L4-L18

저거 주석 해제하고 어플라이하면 되긴 한데, 저런 규칙을 쓰면 문제가 있더라구여. 자동백업이 동작 안하거나 고장난걸 눈치 못챘을때에 모든 백업이 다 글레이시어로 가버려서 쓰지 못하는 경우가 발생했었어요.

"14일 지난 백업은 글레이시어로 보내되, 가장 최근 백업 5개는 무조건 S3에 유지" 이런 규칙을 만들고싶은데 어떻게 하면 좋을까여

[2020-07-08 12:26] simnalamburt commented on #64
그런거 지원 안하는거같네요 걍 저거 주석 해제해야할거같아요

[2020-07-10 14:15] #64 closed, assigned to nobody

[2020-07-10 19:44] simnalamburt commented on #64
적용 완료됨 https://github.com/upnl/infra/pull/8#issuecomment-656858220

[2020-09-06 22:48] simnalamburt opened #65 "Docker Hub 정리하기"
아래는 슬랙에서 내가 보낸 메시지

GitHub에서 새로 개장한 https://github.com/orgs/upnl/packages/container/upnl-org-backup 로 옮겼습니다

### TODOs
- [x] 기존에 `upnl/upnl-org-backup` 쓰던것 `ghcr.io/upnl/upnl-org-backup`로 바꾸기
- [x] [유피넬에서 쓰던 Docker Hub organization](https://hub.docker.com/orgs/upnl) 완전히 삭제하기

[2020-09-08 06:17] pbzweihander commented on #65
https://github.com/orgs/upnl/packages/container/upnl-org-backup 링크가 404 Not Found가 뜨고, upnl org나 upnl-org-backup 리포의 패키지에서도 못 찾았는데 확인해주실 수 있나요?

[2020-09-08 06:19] pbzweihander commented on #65
그리고 upnl-org-backup은 구 제미니에서 홈페이지가 서빙될 때 사용하던 백업툴이고 현재는 사용되지 않습니다.

지금 백업 스크립트는 kubernetes CronJob으로 직접 정의되어있습니다. (https://github.com/upnl/kubernetes/blob/master/service/homepage.yml#L191-L281)

[2020-09-08 07:25] simnalamburt commented on #65
패키지가 pull은 가능한데 들어가서 관리하는건 권한을 부여해야하네요. 권한을 드렸어요

[2020-09-08 07:52] simnalamburt commented on #65
Docker Hub Org deactivate 했습니다

[2020-09-08 07:54] simnalamburt commented on #65
upnl-org-backup 더 안쓴다니 archive처리하겠습니다

[2020-09-08 07:54] #65 closed, assigned to nobody

[2021-01-29 14:32] simnalamburt opened #66 "Route53 healthchecker 사용하기"
깃랩이나 유피넬 홈페이지가 죽은걸 눈치 못챈 경우가 자꾸 생긴다

Route53 health check &rarr; Cloudwatch Alarm &rarr; AWS SNS &rarr; AWS Lambda (https://github.com/femiwiki/sns-discord) 이렇게 구성하면 엔드포인트에 문제가 생겼을때 슬랙 등으로 알림을 쏠 수 있다.

[2021-02-16 11:52] simnalamburt commented on #63
재정문제로 AWS를 없애기로함. 에델브로이를 빠르게 되살릴 필요가 생겼다.

<img width=400 src="https://user-images.githubusercontent.com/4435445/108059675-349ddc00-7099-11eb-9ca1-0f986edba24e.png">

서버랙에서 꺼냈음, OS를 못찾아 부팅 못하는것 확인, 우분투 20.04.2 설치 시도중, 디스크 문제가 있을경우를 대비해 새 SSD도 준비된 상태. 새 SSD를 쓰게되면 부품값은 미래에 넬에서 지원해주기로했음.

[2021-02-16 12:06] simnalamburt commented on #63
기존 SSD(Samsung SSD 830)의 고장을 확인함. 갖고있던 다른 SSD(Samsung SSD 840 PRO)로 교체중.

[2021-02-16 12:41] simnalamburt commented on #63
다시 확인한 결과 기존 SSD(Samsung SSD 830)이 고장난것은 아니었음. 그러나 과거 오랫동안 활발하게 사용되었던 전력이 있는 SSD여서 수명이 걱정되어 그냥 바꾸기로했다.

[2021-02-16 15:12] simnalamburt commented on #63
OS 설치 완료, 시스템 세팅중. 포트들이 죄다 막혀있어 정상적인 작업이 어렵다.

[2021-02-16 15:28] simnalamburt commented on #63
22, 80, 443, 2222 포트에 대한 개방요청 완료, 회신 대기중

[2021-02-16 15:56] simnalamburt commented on #63
DNS 리졸빙이 임의로 실패하는 등, 정보화본부(중앙전산원)에서 자꾸 DNS 트래픽을 가로채는듯한 동작을 보임. 이에 따라, 모든 암호화되지 않은 트래픽은 학교가 가로채는것으로 가정하고 `cloudflared`를 사용해 DNS-over-HTTPS를 사용하도록 세팅함.

[2021-02-16 16:29] simnalamburt commented on #63
아직 할일이 남긴했지만 서버를 대충 띄우긴 했는데, TCP 연결이 무수히 임의로 끊기는 등 네트워크 상태가 몹시 좋지않음. 근데 이것이 컴퓨터의 문제인지 아니면 학교 전산망의 문제인지 현재 구분이 안간다.

[2021-02-16 18:07] simnalamburt commented on #63
서버랙으로 옮기자 인터넷이 전혀 안됨.

[2021-02-16 18:11] simnalamburt commented on #63
스위치 포트를 옮겼더니 이제 인터넷이 아예 안되지는 않으나 여전히 연결에 성공했다 실패했다를 반복중임. 지은상 선생님께 문의함.

[2021-02-16 18:31] simnalamburt commented on #63
현재 남은 문제인 인터넷 문제와 포트 개방 문제 모두 행정실 도움 없이 해결 불가능할것같아 작업 중단.

[2021-02-17 01:30] tirr-c commented on #63
MAC주소-IP주소가 중전에 등록이 안되어있으면 패킷 로스가 심합니다.

[2021-02-17 05:05] simnalamburt commented on #63
기존 IP는 타 서버에 의해 선점당함, 신규 발급 신청함, 회신 대기중

2021년 2월 17일 (수) 10:30, Wonwoo Choi <notifications@github.com>님이 작성:

[2021-07-29 06:15] simnalamburt commented on #63
서비스다운게 올라와야 점검을 할 수 있다고 함

[2021-08-02 04:02] simnalamburt commented on #63
에델브로이에 k3s 사용해 포디비 배포한 뒤 다시 포트개방 신청했음. 정보화본부에서 퍼징을 돌려서 포디비의 잠재적 문제를 몇가지 찾아냈다. 조치하여 오늘 다시 열어달라고 지은상선생님께 메일 보냈음.

[2021-08-02 06:13] simnalamburt commented on #63
아놔..

[2021-08-02 07:57] tirr-c commented on #63
맞아요 저거 귀찮아요... 바쿠스에서 매년 하는거긴한데 다들 드르렁

[2021-08-02 08:46] tirr-c commented on #63
http://edhelbroy.upnl.org/ 열렸습니다.

state 복사는 서버 내리고 rsync를 사용하기로

[2021-08-04 11:51] simnalamburt commented on #63
모든 서비스들 에델브로이로 이전 완료, AWS 자원 정리중

[2021-08-04 12:53] simnalamburt opened #68 "홈페이지 백업 스크립트에 AWS API Key 주기"
AWS EC2로 돌아가던 시절에는 IAM assume role 기능을 써서 달리 뭘 안해줘도 자동으로 권한을 받을 수 있었는데, 이젠 IAM User를 써야한다.

###### Reference
- https://github.com/upnl/infra/blob/6b94fbf67cef17cb21d4cd8bf8ec567ec12d2793/iam.tf#L95

[2021-08-04 12:54] simnalamburt commented on #63
완료

[2021-08-04 12:54] #63 closed, assigned to nobody